body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #2196f3;
}
.box{
  width: 90%;
  height: 500px;
  background-color: rgb(148, 205, 255);
  border-radius: 17px;
  position: absolute;
  top: 30%;
  left: 5%;

}
.ism{
  height: 7%;
  width: 80%;
  border-radius: 12px;
  position: absolute;
  top: 17%;
  left:8%;

}
.parol{
  height: 7%;
  width: 80%;
  border-radius: 12px;
  position: absolute;
  top: 30%;
  left:8%;
}
.buttn{
    height: 7%;
  width: 80%;
  border-radius: 12px;
  position: absolute;
  top: 43%;
  left:8%;
  background-color: rgb(19, 149, 255);
  color: white;
}
.ALD{
  position: absolute;
  top: 7%;
  text-align: center;
  font-size: 140%;
  color: white;

}
.bat{
position: absolute;
top: 55%;
left: 35%;

}
.bat3{
  position: absolute;
top: 63%;
left: 5%;
color: rgb(237, 27, 27);
}
.mal{
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  top:560px;
  border-radius: 6px;
}